#app {
  display: grid;
  grid-template-columns: 40% 60%;

  height: 100vh;
  overflow: hidden;
  background-color: #131516;
}

main {

  padding: 2rem;

  .main-container {
    background-image: url(../assets/Background.png);
    height: 45.5rem;
    width: 25rem;
    background-size: cover;
    border-radius: 12px;
     
  }

  header {

    padding: 4rem;

  img {
    width: 2.86rem;
    height: 3rem;
   }

   .spacing {
    height: 1rem;
   }

   h1{
    color: #FF598B;
    font-family: "Leckerli One", serif;
    font-size: 2.5rem;
    
  }

  p {
    color: #F9F9F9;
    font-family: "Open sans", serif;
    font-size: 0.8rem;
  }

  }
}